<section class="mx-3 p-2 flex justify-center">
  <div class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="title" sticky>
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td
          class="text-balance uppercase font-semibold"
          [class.completed-task]="element.completed"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.title }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Tâche</th>
        <td
          [class.completed-task]="element.completed"
          class="text-balance"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.description }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef>Terminée</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            [(ngModel)]="element.completed"
            (change)="onTaskCompletionChange(element)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
