@tailwind base;
@tailwind components;
@tailwind utilities;

.example-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.completed-task {
  text-decoration: line-through;
  color: gray; /* Optionnel : pour rendre le texte plus pâle */
}

table {
  width: 100%;
}

th.mat-column-description,
td.mat-column-description {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
